<!-- views/dashboard.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>Dashboard | CSE 135 HW3 </title>
</head>
<body>

	<div class="container">
		<!-- HEADER -->
		<div class="header">
			<h1>Soundboard App</h1>
			<h2>Hello <%= name %>!</h2>
		</div>

</body>
</html>