<!-- views/soundboard.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>Soundboard | CSE 135 HW3 </title>
	<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

	<div class="container">
		<header id="dashboard-header">
			<h1>Soundboard:<i>#name</i></h1>
		</header>

		<section id="dashboard-upload">
			

			<!-- Trigger/Open modal -->
			<button id="addSoundBtn">Add Sound</button>
			
			<!-- The modal -->
			<div id="addSoundModal" class="soundboardModal">
				<!-- Modal content -->
				<div class="addSoundMenuContent">
					<span class="close">&times;</span>
					<h1>Add sound</h1>
					<form id				= "uploadForm"
								enctype		= "multipart/form-data"
								action 		= "/app/upload"
								method 		= "POST"
					>
						<label for="soundName"><i>Name: </i>
							<input type="text" name="soundName" id="soundName"
								placeholder="Name" required></input>
							</label>
						</label>
						<br>
						<label for="userFile"><i>Image: </i>
							<input type="file" name="userFile" id="imgInput" required></input>
							</label>
						</label>
						<br>
						<label for="userFile"><i>Sound: </i>
							<input type="file" name="userFile" id="soundInput" required></input>
							</label>
						</label>
						<br>
						<input type="submit" value="Upload" name="submit">
					</form>
				</div>

			</div>
		</section>

		<main id="dashboard-main">
			<% for (var i = 0; i < data.length; i++) { %>
				<div id="dashboard-thumb">
					<div id="dashboard-img">
						<img src="<%= data[i].image %>">
					</div>
					<div id="dashboard-title">
						<h2><%= data[i].name %></h2>
					</div>

					<div id="soundboard-sound">
						<audio controls>
							<source src="<%= data[i].sound %>">
						</audio>
					</div>
				</div>
			<% } %>
		</main>

		<footer>
			<h3><a href="/logout">Logout</a></h3>
		</footer>
	</div>

	<script src="/js/soundboard.js"></script>
</body>
</html>